.villa-management {
    position: relative;
    width: 100%;
    display: flex;
}

.list-villa-container {
    display: flex;
    width: 1200px;
    align-items: center;
    align-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.create-new .detail-villa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.create-new .detail-villa .bathroom-bedroom-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.create-new .detail-villa .bed-size {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.create-new .detail-villa .bed-size .size-option {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px;
}

.create-new .detail-villa .bedroom-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.create-new .detail-villa .label-option {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}