@use "./../../base";

.mockup-code-editor {
    width: 100%;
    max-width: 500px;
    max-height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    
    .team {
        min-width: 200px;

        display: flex;
        padding: 10px 16px 10px 10px;
        gap: 16px;

        position: absolute;

        border-radius: 10px;
        border: 1px solid base.$neutral-200;
        background: #FFF;
        box-shadow: 0px 4px 20px 0px rgba(217, 217, 217, 0.25);

        .photo {
            width: 50px;
            height: 50px;
        }
        
        .detail {
            display: flex;
            padding: 4px 0px;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 2px;

            font-family: 'Inter', sans-serif;

            .name {
                color: base.$neutral-700;
                font-size: 13px;
                font-weight: 500;
            }

            .role {
                color: base.$neutral-600;
                font-size: 12px;
            }
        }
    }

    .team-client {
        bottom: -30px;
        left: 10px;
    }

    .team-backend {
        right: 10px;
        bottom: -30px;
    }

    @media only screen and (min-width: 768px) {
        & {
            .team {
                display: flex;
                padding: 14px 24px 14px 16px;
        
                .photo {
                    width: 70px;
                    height: 70px;
                }
                
                .detail {
                    gap: 6px;
        
                    .name {
                        font-size: 16px;
                    }
        
                    .role {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}