@use "./../../base";

.footer {
    display: flex;
    height: 380px;
    width: 100%;
    padding: 32px 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #ECF9EC;;

    .product, .company, .links {
        display: flex;
        max-width: 450px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        color: base.$neutral-600;

    }

    .product .logo {
        width: 120px;
        height: 41.18px;
        align-self: auto;
    }

    .company .logo {
        width: 70px;
        height: 48.509px;
        align-self: auto;
    }

    .links {
        h4 {
            color: base.$primary-500;
        }

        a {
            text-decoration: none;
            color: base.$neutral-600
        }

        a:hover {
            text-decoration: none;
            font-weight: 500;
            color: base.$neutral-600
        }
    }
}