@use "./../../base";

.header, 
.header-main-date, 
.header-main-date-detail,
.profile-notification-wrapper,
.account,
.header-main,
.header-dashboard,
.header-overview,
.overview-card,
.overview,
.detail-overview,
.guest-profile,
.villa-management-edit-new .actions {
    display: flex;
}

.header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    column-gap: 50px;
    background-color: base.$neutral-0;

    .header-title {
        color: base.$neutral-700;
    }

    .overview {
        align-items: flex-start;
        gap: 24px;
    }
}

/* Header variant */
.header-auth {
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border-bottom: 1px solid base.$neutral-200;

    .icon {
        height: 24px;
        width: 24px;
    }

    .header-overview {
        display: inherit;
        gap: 24px;
    }    

    .header-auth-date {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .header-auth-date-detail {
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;

        .date {
            color: base.$neutral-600;
        }

        .month {
            color: base.$neutral-500;
        }
    }
}

.header-main {
    width: 100%;
    display: flex;
    height: 100px;
    padding: 10px 48px;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 140px;
        height: 78.315px;
    }

    .navigations {
        display: inherit;
        height: 50px;
        justify-content: center;
        align-items: center;
        gap: 100px;

        .menus {
            display: inherit;
            justify-content: center;
            align-items: center;
            gap: 50px;

            .link {
                text-decoration: none;
                padding: 4px 8px;
                color: base.$neutral-600;
            }

            .link:hover {
                color: base.$primary-400;
            }
        }

        .actions {
            display: inherit;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }
    }
}