@use "./../../base";

/* page header variant: auth & main */
.header-auth {
    height: 90px;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border-bottom: 1px solid base.$neutral-200;

    .icon {
        height: 24px;
        width: 24px;
    }

    .header-overview {
        display: inherit;
        gap: 24px;
    }    

    .header-auth-date {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .header-auth-date-detail {
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;

        .date {
            color: base.$neutral-600;
        }

        .month {
            color: base.$neutral-500;
        }
    }

    .profile-notification-wrapper {
        align-items: center;
        gap: 32px;

        .account {
            align-items: center;
            gap: 16px;
            
            .photo-profile {
                height: 60px;
                width: 60px;
                border-radius: 100%;
                background-color: base.$neutral-200;
            }
            
            .name {
                color: base.$neutral-600;
            }
        }   
    }
}

.header-main {
    width: 100%;
    display: flex;
    height: 100px;
    padding: 10px 16px;
    justify-content: space-between;
    align-items: center;

    border: 1px solid base.$neutral-200;
    background-color: base.$neutral-0;
    box-shadow: 0px 10px 20px -14px rgba(92, 92, 92, 0.10);

    .logo {
        max-width: 100px;
    }

    .hamburger-menu {
        height: 30px;
        width: 30px;
    }

    .navigations {
        display: none;
        height: 50px;
        justify-content: center;
        align-items: center;
        gap: 100px;

        .menus {
            display: inherit;
            justify-content: center;
            align-items: center;
            gap: 24px;

            .link {
                text-decoration: none;
                padding: 4px 8px;
                color: base.$neutral-600;
            }

            .link:hover {
                color: base.$primary-400;
            }
        }

        .actions {
            display: none;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }
    }

    @media only screen and (min-width: 640px) {
        & {
            padding: 10px 24px;

            .logo {
                max-width: 120px;
            }

            .hamburger-menu {
                display: none;
            }

            .navigations {
                display: flex;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        & {
            padding: 10px 32px;

            .navigations {
                display: flex;
                column-gap: 32px;

                .actions {
                    display: flex;

                    button:last-child {
                        display: none;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 900px) {
        & {
            .navigations {
                .actions {
                    button:last-child {
                        display: flex;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1080px) {
        & {
            padding: 10px 48px;

            .logo {
                max-width: 140px;
            }

            .navigations {
                column-gap: 100px;

                .actions {

                    button:last-child {
                        display: flex;
                    }
                }
            }
        }
    }
}