@use "./../../base";

.header, 
.header-main-date, 
.header-main-date-detail,
.profile-notification-wrapper,
.account,
.header-main,
.header-dashboard,
.header-overview,
.overview-card,
.overview,
.detail-overview,
.guest-profile,
.villa-management-edit-new .actions {
    display: flex;
}

.header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    column-gap: 50px;
    background-color: base.$neutral-0;

    .header-title {
        color: base.$neutral-700;
    }

    .overview {
        align-items: flex-start;
        gap: 24px;
    }
}

.header-dashboard {
    display: inherit;
    flex-direction: column;
    max-width: 1000px;
    gap: 24px;

    .overview-card {
        width: 180px;
        height: 120px;
        padding: 12px 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
    
        border-radius: 8px;
        border: 1px solid base.$neutral-200;
        background: base.$neutral-0;

        .detail {
            color: base.$neutral-600;
        }

        .label {
            color: base.$neutral-500;
        }
    }

    .detail-overview {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        gap: 24px;
    }   
}

.header-chat {
    max-width: 800px;
    
    .detail-overview {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        gap: 24px;
    }
    
    .guest-profile {
        padding: 16px 24px;
        display: inherit;
        align-items: center;
        gap: 16px;

        .photo-profile {
            height: 60px;
            width: 60px;
            border-radius: 100%;
            background-color: base.$neutral-200;
        }

        .name {
            color: base.$neutral-600;
        }

        .date {
            color: base.$neutral-500;
        }
    }
}

.villa-management {
    .detail-overview {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        gap: 24px;
    }
    
    .search-field {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .filter {
            width: 350px;
            display: flex;
            align-items: center;
            gap: 16px;
        }

        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }
        
        .filter-label {
            color: base.$neutral-600;
        }
    }
}

.villa-management-edit-new {
    .detail-overview {
        width: 100%;
        max-width: 1100px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
    }

    .actions {
        flex-direction: row;
        align-items: center;
        column-gap: 16px;
    }
}