/* colors: neutral, primary, additional */
$neutral-0: #FFFFFF;
$neutral-100: #FBFBFB;
$neutral-200: #EEEEEE;
$neutral-300: #D4D4D4;
$neutral-400: #AFAFAF;
$neutral-500: #808080;
$neutral-600: #4D4D4D;
$neutral-700: #1C1C1C;

$primary-0: #D9F2D9;
$primary-100: #B3E5B3;
$primary-200: #8CD98C;
$primary-300: #66CC66;
$primary-400: #40BF40;
$primary-500: #339933;
$primary-600: #267326;
$primary-700: #194C19;
$primary-800: #0D260D;

$error-0: #FF3636;
$error-100: #FFCCCC;
$error-200: #FFE5E5;

$success: #1FD831;

$info-0: #3B7EFF;
$info-100: #CCDDFF;
$info-200: #E5EEFF;

$yellow-0: #FDCC0D;
$yellow-100: #FEDA4E;

/* font-size: h1, h2, h3, h4, p, label */
$h1: 49px;
$h2: 31px;
$h3: 25px;
$h4: 20px;
$p: 16px;
$label: 16px;