/*
Error: Invalid CSS after "...clude font(base": expected ")", was ".$h1, 400);"
        on line 226 of src/styles/index.scss

221:   // line-height: $line-height;
222: }
223: 
224: /* text styles *\/
225: .h1-regular {
226:   @include font(base.$h1, 400);
227: }
228: 
229: .h1-medium {
230:   @include font(base.$h1, 500);
231: }

Backtrace:
src/styles/index.scss:226
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/lexer.rb:240:in `expected!'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/parser.rb:862:in `assert_tok'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/parser.rb:109:in `parse_mixin_include_arglist'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:1164:in `sass_script'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:251:in `include_directive'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:234:in `special_directive'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:209:in `directive'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in `block_contents'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:681:in `ruleset'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
/usr/share/gems/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
/usr/share/gems/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/share/gems/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/share/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/share/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/share/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/usr/share/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/share/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/usr/share/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in `block in watch'
/usr/share/gems/gems/listen-3.7.1/lib/listen/event/config.rb:28:in `call'
/usr/share/gems/gems/listen-3.7.1/lib/listen/event/processor.rb:117:in `block in _process_changes'
/usr/share/gems/gems/listen-3.7.1/lib/listen/thread.rb:26:in `rescue_and_log'
/usr/share/gems/gems/listen-3.7.1/lib/listen/event/processor.rb:116:in `_process_changes'
/usr/share/gems/gems/listen-3.7.1/lib/listen/event/processor.rb:25:in `block in loop_for'
/usr/share/gems/gems/listen-3.7.1/lib/listen/event/processor.rb:20:in `loop'
/usr/share/gems/gems/listen-3.7.1/lib/listen/event/processor.rb:20:in `loop_for'
/usr/share/gems/gems/listen-3.7.1/lib/listen/event/loop.rb:85:in `_process_changes'
/usr/share/gems/gems/listen-3.7.1/lib/listen/event/loop.rb:51:in `block in start'
/usr/share/gems/gems/listen-3.7.1/lib/listen/thread.rb:26:in `rescue_and_log'
/usr/share/gems/gems/listen-3.7.1/lib/listen/thread.rb:18:in `block in new'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...clude font(base\": expected \")\", was \".$h1, 400);\"\A         on line 226 of src/styles/index.scss\A \A 221:   // line-height: $line-height;\A 222: }\A 223: \A 224: /* text styles */\A 225: .h1-regular {\A 226:   @include font(base.$h1, 400);\A 227: }\A 228: \A 229: .h1-medium {\A 230:   @include font(base.$h1, 500);\A 231: }"; }
