@use "./../../base";

.form, .content, .detail, .hero-section, .actions, .widget, .widget, .main-container {
    display: flex;
    flex-direction: column;
}

.container, .image-gallery, .auth-container {
    display: flex;
}

.main-container {
    width: 100%;
    flex-direction: column;
    gap: 32px;
}

.auth-container {
    min-height: 650px;
    margin: 0 48px;
    padding: 32px 50px;

    position: absolute;

    align-items: center;
    column-gap: 50px;

    background-color: base.$neutral-0;
    border-radius: 16px;
    border: 1.5px base.$neutral-200 solid;

    box-shadow: 0px 10px 30px 0px rgba(92, 92, 92, 0.02);

    .widget {
        height: calc(100vh - 180px);
        width: 1370px;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .hero-section {
        width: 750px;
        height: 500px;
        row-gap: 24px;
    }

    .image-gallery {
        align-items: center;
        column-gap: 32px;
    }

    .image {
        border-radius: 8px;
    }

    .image:nth-of-type(odd) {
        width: 200px;
        height: 200px;
    }
    
    .image:nth-of-type(even) {
        width: 200px;
        height: 250px;
    }
    
    .form {
        width: 400px;
        row-gap: 24px;
    }
    
    .content {
        row-gap: 12px;
    }
    
    .detail {
        row-gap: 8px;
    }
    
    .title {
        color: base.$neutral-700;
    }
    
    .subtitle {
        color: base.$neutral-500;
    }
    
    .actions {
        row-gap: 16px;
        align-items: center;
    }
    
    .other {
        color: base.$neutral-600;
    }
    
    .logo {
        width: 170px;
        align-self: center;
    }
    
    .terms-conditions {
        color: base.$neutral-400;
        text-align: center;
    }
    
    .forgot-password {
        text-decoration: none;
    }
    
    .link {
        color: base.$neutral-400;
    }
    
    .ellipse {
        border-radius: 100%;
        position: relative;
        z-index: -1;
    }
    
    .ellipse:nth-child(1) {
        width: 400px;
        height: 400px;
    
        top: -58px;
        left: -671px;
        
        transform: rotate(-30deg);
        background: linear-gradient(180deg, #D9F2D9 0%, #40BF40 100%);
    }
    
    .ellipse:nth-child(2) {
        width: 1000px;
        
        top: 0px;
        left: 600px;
    
        height: 1000px;
        background: linear-gradient(138deg, #40BF40 2.73%, #D9F2D9 98.81%);
    }

}