@use "./../../base";

// page hero section
.page-container {
    padding-top: 50px;

    height: 100%;
    width: 100%;
    overflow-y: scroll;
    
    display: grid;
    row-gap: 100px;
    
    .container {
        padding: 0 16px;

        display: flex;
        flex-direction: column;
        row-gap: 100px;
        align-items: center;

        @media only screen and (min-width: 768px) {
            padding: 0 24px;
        }

        @media only screen and (min-width: 1080px) {
            padding: 0 48px;
        }
    }

    .hero-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;

        text-align: center;

        .header-description-wrapper {
            width: 100%;
            // max-width: 650px;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            .title {
                font-family: 'Inter', sans-serif;
                font-size: 24px;
                font-weight: 700;
                line-height: 40px; 
                color: base.$neutral-700;
            }

            .highlight {
                color: base.$primary-400;
                display: block;
            }

            .description {
                max-width: 500px;

                color: base.$neutral-600;
                font-family: 'Inter', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 24px; 
            }

        }

        .mockup {
            position: relative;
            
            height: 100%;
            width: 100%;
            max-width: 500px;

            object-fit: contain;

            .card-photo {
                width: calc(100% - 30px);
                max-width: 250px;

                position: absolute;
                left: 20px;
                bottom: 16px;

                border: 1.5px solid base.$neutral-400;
                border-radius: 8px;
                box-shadow: 0px -10px 16px 0px rgba(40, 40, 40, 0.30);
            }
        }

        // Tablet breakpoint
        @media only screen and (min-width: 768px) {
            & {
                & {
                    max-width: 600px;
    
                    .header-description-wrapper {
                        gap: 10px;

                        .title {
                            font-size: 31px;
                            line-height: 48px;
                        }
    
                        .description {
                            font-size: 16px;
                            line-height: 30px;
                        }

                        .highlight {
                            display: inline;
                        }
                    }
                }
            }
        }

        // Desktop breakpoint
        @media only screen and (min-width: 1080px) {
            & {
                & {
                    max-width: unset;

                    flex-direction: row;

                    .header-description-wrapper {
                        align-items: flex-start;

                        .title {
                            text-align: left;
                        }
    
                        .description {
                            text-align: left;
                        }
                    }
                }
            }
        }

        @media only screen and (min-width: 1280px) {
            & {
                gap: 50px;

                & {
                    .header-description-wrapper {
                        max-width: 700px;
                        gap: 24px;

                        .title {
                            font-size: 49px;
                            line-height: 80px;
                        }
    
                        .description {
                            max-width: unset;

                            font-size: 18px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
}

// section wrapper
.page-container {
    .section-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
            max-width: 420px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;

            text-align: center;

            .title {
                color: base.$neutral-700;

                font-size: 25px;
                font-weight: 500;
                font-family: 'Inter', sans-serif;
                line-height: auto;
            }

            .subtitle {
                color: base.$primary-500;
                font-size: 13px;
                font-weight: 400;
                font-family: 'Inter', sans-serif;
                line-height: auto;
            }
        }

        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 16px;

            .mockup {
                position: relative;
                width: 100%;
                max-width: 670px;
            }

            .floating-mockup {
                position: absolute;
            }
        }

        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            text-align: center;

            .headline {
                color: base.$neutral-700;
                font-size: 20px;
                font-weight: 500;
                font-family: 'Inter', sans-serif;
                line-height: auto;
            }

            .supporting-headline-badge-wrapper {
                width: 100%;

                display: flex;
                flex-direction: column;
                row-gap: 10px;

                .supporting-headline {
                    color: base.$neutral-600;

                    font-size: 13px;
                    font-weight: 400;
                    font-family: 'Inter', sans-serif;
                    line-height: 28px;
                }

                .badge-list {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    gap: 16px;
                    flex-wrap: wrap;
                }
            }
        }

        .testimonial {
            width: 100%;

            overflow-x: scroll;

            display: flex;
            column-gap: 24px;
        }

        // Tablet breakpoint
        @media only screen and (min-width: 768px) {
            & {
                .main {
                    max-width: 800px;
                }
                
                .header {        
                    .title {
                        font-size: 31px;
                    }
        
                    .subtitle {
                        font-size: 16px;
                    }
                }

                .content {        
                    align-items: center;
                    text-align: center;

                    .headline {
                        font-size: 25px;
                    }
        
                    .supporting-headline-badge-wrapper {
                        width: 100%;
        
                        display: flex;
                        flex-direction: column;
                        row-gap: 16px;
        
                        .supporting-headline {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        // Desktop breakpoint
        @media only screen and (min-width: 1080px) {
            & {
                .main {
                    max-width: unset;

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 32px;
                }

                .main:nth-child(3) {
                    flex-direction: row-reverse;
                }

                .content {        
                    max-width: 600px;
                    align-items: flex-start;
                    text-align: left;
                    row-gap: 24px;

                    .headline {
                        font-size: 25px;
                    }
        
                    .supporting-headline-badge-wrapper {
                        width: 100%;
        
                        display: flex;
                        flex-direction: column;
                        row-gap: 16px;
        
                        .supporting-headline {
                            font-size: 16px;
                        }

                        .badge-list {
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }

        @media only screen and (min-width: 1280px) {
            & {
                .main {
                    gap: 48px;
        
                    .mockup {
                        position: relative;
                        width: 100%;
                        max-width: 670px;
                    }
        
                    .floating-mockup {
                        position: absolute;
                    }
                }

                .content {        
                    align-items: flex-start;
                    text-align: left;

                    .headline {
                        font-size: 25px;
                    }
        
                    .supporting-headline-badge-wrapper {
                        width: 100%;
        
                        display: flex;
                        flex-direction: column;
                        row-gap: 16px;
        
                        .supporting-headline {
                            font-size: 16px;
                        }

                        .badge-list {
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }

    .cta {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 60px 0px 60px;
        gap: 15px;

        .headline {
            color: base.$neutral-700;
        }

        .supporting-headline {
            color: base.$neutral-600;
        }
    }
}

// section variant: mockup & history
.page-container {
    .mockup-section-wrapper {
        row-gap: 50px;
    }

    .history-section-wrapper, 
    .product-section-wrapper {
        row-gap: 50px;
    }

    .testimonial-section-wrapper {
        row-gap: 32px;
    }
}

// history section wrapper
.page-container {
    .history-section-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-family: 'Inter', sans-serif;
        line-height: auto;

        .team-list {
            width: 100%;
            max-width: 900px;
            
            display: flex;
            flex-wrap: wrap;
            gap: 80px;

            justify-content: center;
            align-items: center;
        }

        .team-profile {
            display: flex;
            width: 230px;
            height: 240px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            border-radius: 10px;
            background-color: #ECF9EC;

            position: relative;

            .avatar {
                width: 100%;
                max-width: 180px;
            }

            .detail {
                min-width: 160px;
                max-width: 170px;

                display: flex;
                padding: 14px 16px;
                flex-direction: column;
                align-items: flex-start;
                gap: 6px;

                position: absolute;
                bottom: -40px;

                border-radius: 8px;
                border: 1px solid base.$neutral-200;
                background-color: base.$neutral-0;

                .name {
                    color: base.$neutral-700;
                    font-weight: 500;
                    font-size: 13px;
                }

                .role {
                    color: base.$neutral-600;
                    font-size: 13px;
                }
            }
        }

        .team-profile:nth-child(1) .detail {
            bottom: -50px;
        }

        .history-detail {
            max-width: 600px;
            color: base.$neutral-600;
            
            text-align: justify;
            font-size: 13px;
            line-height: 24px;
        }

        // Tablet breakpoint
        @media only screen and (min-width: 768px) {
            & {
                .team-profile {        
                    .detail {
                        min-width: 160px;
                        max-width: 200px;
                        gap: 10px;
        
                        position: absolute;
                        bottom: -40px;
        
                        .name {
                            font-size: 16px;
                        }
        
                        .role {
                            font-size: 16px;
                        }
                    }
                }

                .team-profile:nth-child(1) .detail {
                    bottom: -65px;
                }
            }

            .history-detail {
                padding-top: 24px;
                font-size: 16px;
                line-height: 28px;
            }
        }

        // Tablet breakpoint
        @media only screen and (min-width: 1080px) {
            & {
                .team-list {
                    max-width: unset;
                }
                
                .team-profile {      
                    width: 250px;
                    height: 350px;

                    .avatar {
                        max-width: 250px;
                    }

                    .detail {
                        bottom: -35px;
                    }
                }

                .history-detail {
                    max-width: 900px;
                }
            }
        }
    }
}

// product section wrapper
.page-container {
    .mockup-section-wrapper {
        .main {
            .product-mockup {
                max-width: 500px;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                column-gap: 16px;

                .android-mockup {
                    width: 100%;
                    min-width: 50px;
                    max-width: 200px;
                    
                    border-radius: 24px;
                    box-shadow: 0px 2px 20px 6px rgba(153, 153, 153, 0.20);
                }

                .main-mockup {
                    width: 100%;
                    max-width: 450px;
                }
                
                .floating-mockup:nth-child(2) {
                    width: 100%;
                    max-width: 80px;
                    
                    left: 25px;
                    top: 20px;
                }

                .floating-mockup:nth-child(3) {
                    width: 100%;
                    max-width: 150px;
                    
                    right: 16px;
                    bottom: 10px;
                }
            }

            .floating-mockup {
                border-radius: 8px;
                border: 1px solid base.$neutral-200;
                box-shadow: -10px 10px 25px 16px rgba(213, 213, 213, 0.10);
            }

            @media only screen and (min-width: 428px) {
                & {
                    .product-mockup {
                        .floating-mockup:nth-child(2) {
                            max-width: 130px;
                        }
                        
                        .floating-mockup:nth-child(3) {
                            max-width: 230px;
                        }
                    }
                }
            }

            @media only screen and (min-width: 1080px) {
                & {
                    .product-mockup {
                        max-width: 600px;

                        .floating-mockup:nth-child(2) {
                            max-width: 180px;
                        }
                        
                        .floating-mockup:nth-child(3) {
                            max-width: 280px;
                        }
                        
                        .android-mockup {
                            max-width: 230px;
                        }

                        .main-mockup {
                            max-width: 600px;
                        }
                    }
                }
            
            }
        }
    }
}

// application section wrapper
.page-container {
    .mockup-section-wrapper {
        .main {
            .app-mockup {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                column-gap: 32px;

                .main-mockup {
                    width: 100%;
                    max-width: 580px;
                    object-fit: cover;
    
                    border-radius: 10px;
                    border: 1px solid base.$neutral-200;
                    background-color: base.$neutral-0;
                }
    
                .floating-mockup {
                    width: calc(100% - 200px);

                    position: absolute;
                    border-radius: 8px;
                    border: 1px solid base.$neutral-200;
                    box-shadow: -10px 10px 25px 16px rgba(213, 213, 213, 0.10);
                }
            }
        }

        .main:nth-child(2) {
            .app-mockup {
                .floating-mockup {
                    min-width: 140px;
                    max-width: 160px;
                    z-index: 2;
                    bottom: 10px;
                    right: 20px;
                }
            }
        }

        .main:nth-child(3) {
            .app-mockup {
                .floating-mockup {
                    min-width: 230px;
                    max-width: 250px;
                    z-index: 2;
                    bottom: 20px;
                    right: 20px;
                }
            }
        }

        .main:nth-child(4) {
            .app-mockup {
                .floating-mockup {
                    min-width: 200px;
                    max-width: 330px;
                    z-index: 2;
                    bottom: 20px;
                    right: 20px;
                }
            }
        }

        @media only screen and (min-width: 640px) {
            & {
                .main:nth-child(2) {
                    .app-mockup {
                        .floating-mockup {
                            max-width: 200px;
                        }
                    }
                }
        
                .main:nth-child(3) {
                    .app-mockup {
                        .floating-mockup {
                            max-width: 300px;
                        }
                    }
                }
        
                .main:nth-child(4) {
                    .app-mockup {
                        .floating-mockup {
                            max-width: 250px;
                        }
                    }
                }
            }
        }
    }
}

// total number growth
.page-container {
    .total-number-growth {
        width: 100%;
        padding: 24px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        border-top: 1px solid base.$neutral-200;
        border-bottom: 1px solid base.$neutral-200;

        .total-reservation {
            width: 100%;
            max-width: 260px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            h1 {
                color: base.$primary-500;
            }

            p {
                color: base.$neutral-500;
            }
        }

        .list-registred-villa-downloaded {
            height: 100%;
            width: 100%;
            max-width: 500px;
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

            display: grid;
            gap: 32px 50px;
        }

        .total {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .dot-label-wrapper {
                display: flex;
                align-items: center;
                gap: 10px;

                .dot {
                    height: 16px;
                    width: 16px;

                    border-radius: 100px;
                    border: 2px solid base.$primary-0;
                    background: base.$primary-400;
                }

                h3 {
                    color: base.$primary-500;
                }
            }

            p {
                padding-left: 26px;
                color: base.$neutral-500;
            }
        }
    }
}